<%= form_for @planting do |f| %>
  <div class="form-group dropdown col-sm-12">
    <%= f.label "Planting Date", :class => 'control-label col-sm-2' %>
    <%= date_select :date, :date, :class => 'form-control datepicker' %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label "Planting Size", :class => 'control-label col-sm-2' %>
    <%= f.radio_button :plot_id, "1", :checked => true, :class => 'radio-inline' %> Tray
    <%= f.radio_button :plot_id, "2", :disabled => true, :class => 'radio-inline' %> Bed
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :crop, :class => 'control-label col-sm-2' %>
    <%= f.select :crop, @crops.map{ |c| [c.name, c.id] } %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :varietal, :class => 'control-label col-sm-2' %>
    <%= f.select :varietal, @varietals.map{ |c| [c.name, c.id] } %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label "Quantity of Seeds", :class => 'control-label col-sm-2' %>
    <%= f.number_field :quantity, :class => 'text_field col-sm-2', :step => 'any' %>
      <div class="form-group col-sm-2">
        <%= f.radio_button :plot_id, "1", :checked => true, :class => 'radio-inline' %> Ounces
        <%= f.radio_button :plot_id, "2", :disabled => true, :class => 'radio-inline' %> Grams
      </div>
  </div>

  <div class="form-group dropdown col-sm-12">
    <%= f.label "Harvest Date", :class => 'control-label col-sm-2' %>
    <%= date_select :date, :date, :class => 'form-control datepicker' %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label 'Yield', :class => 'control-label col-sm-2' %>
    <%= f.number_field :measurement_id, :class => 'text_field col-md-2', :step => 'any'  %>
      <div class="form-group col-sm-2">
        <%= f.radio_button :plot_id, "1", :checked => true, :class => 'radio-inline' %> Ounces
        <%= f.radio_button :plot_id, "2", :disabled => true, :class => 'radio-inline' %> Grams
      </div>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :notes, :class => 'control-label col-sm-2' %>
    <%= f.text_area :notes, :class => 'text_field'  %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.submit "Submit Record", :class => 'btn btn-default' %>
  </div>

<% end %>