<h1>Planting Records</h1>

<p class="welcome col-md-12 text-center lead">Add a New Planting Record</p>

<%= render partial: "form" %>

<% if @plantings.any? %>
  <p class="welcome col-md-12 text-center lead">Beds To Be Harvested</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Planting Date</td>
        <td>Planting Size</td>
        <td>Crop</td>
        <td>Variety</td>
        <td>Qty of Seed</td>
        <td>Notes</td>
      </tr>
    </thead>
    <tbody>
      <% @plantings.each do |planting| %>
      <tr>
        <td><%= planting.date %></td>
        <td><%= planting.plot.name %></td>
        <td><%= planting.crop.name %></td>
        <td><%= planting.varietal.name %></td>
        <td><%= planting.quantity %> <%= planting.measurement.unit %></td>
        <td><%= planting.notes %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @harvests.any? %>
  <p class="welcome col-md-12 text-center lead">Harvested Beds</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Planting Date</td>
        <td>Planting Size</td>
        <td>Crop</td>
        <td>Variety</td>
        <td>Qty of Seed</td>
        <td>Harvest Date</td>
        <td>Yield</td>
        <td>Notes</td>
      </tr>
    </thead>
    <tbody>
      <% @harvests.each do |harvest| %>
      <tr>
        <td><%= harvest.plantings.date %></td>
        <td><%= harvest.plantings.plot.name %></td>
        <td><%= harvest.plantings.crop.name %></td>
        <td><%= harvest.plantings.varietal.name %></td>
        <td><%= harvest.plantings.quantity %> <%= harvest.plantings.measurement.unit %></td>
        <td></td>
        <td></td>
        <td><%= harvest.plantings.notes %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
