<h1>Planting Records</h1>

<p class="welcome col-md-12 text-center lead">Add a New Planting Record</p>

<%= render partial: "form" %>

<% if @plantings.any? %>
  <p class="welcome col-md-12 text-center lead">Beds To Be Harvested</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Planting Date</th>
        <th>Planting Size</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Qty of Seed</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @plantings.each do |planting| %>
        <% if planting.harvest.blank? %>
          <tr>
            <td><%= planting.date %></td>
            <td><%= planting.plot.name.titleize %></td>
            <td><%= planting.crop.name.titleize %></td>
            <td><%= planting.varietal.name.titleize %></td>
            <td><%= planting.quantity %> <%= planting.measurement.unit %></td>
            <td><%= planting.notes %></td>
            <td><%= link_to "Add Harvest", new_planting_harvest_path(planting), class: 'btn btn-default btn-sm' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @harvests.any? %>
  <p class="welcome col-md-12 text-center lead">Harvested Beds</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Planting Date</th>
        <th>Planting Size</th>
        <th>Crop</th>
        <th>Variety</th>
        <th>Qty of Seed</th>
        <th>Harvest Date</th>
        <th>Yield</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @harvests.each do |harvest| %>
      <tr>
        <td><%= harvest.planting.date %></td>
        <td><%= harvest.planting.plot.name.titleize %></td>
        <td><%= harvest.planting.crop.name.titleize %></td>
        <td><%= harvest.planting.varietal.name.titleize %></td>
        <td><%= harvest.planting.quantity %> <%= harvest.planting.measurement.unit %></td>
        <td><%= harvest.date %></td>
        <td><%= harvest.yield %> <%= harvest.measurement.unit %></td>
        <td><%= harvest.planting.notes %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
