<fieldset class="information-box col-md-6">
  <legend>Account Details</legend>
    <dl>
      <dt>Name</dt>
      <dd><%= @account.first_name.titleize %> <%= @account.last_name.titleize %></dd>
    </dl>
    <dl>
      <dt>Email</dt>
      <dd><%= current_user.email %></dd>
    </dl>
    <dl>
      <dt>Account Number</dt> 
      <dd><%= @account.stripe_customer_id %></dd>
    </dl>
    <% if @stripe.present? %>
      <dl>
        <dt>Plan Name</dt> 
        <dd><%= @stripe.plan.name %></dd>
      </dl>
      <dl>
        <dt>Plan Start</dt>
        <dd><%= Time.at(@stripe.start).strftime("%B %e, %Y") %></dd>
      </dl>
      <dl>
        <dt>Plan End</dt>
        <dd><%= Time.at(@stripe.current_period_end).strftime("%B %e, %Y") %></dd>
      </dl>
      <dl>
        <dt>Account Status</dt> 
        <dd><%= @account.stripe_status.titleize %></dd>
      </dl>
      <% if @stripe.cancel_at_period_end == true %>
      <dl>
        <dd>You elected to cancelled your account.  You may continue to use this account until the end of this subscription period which will end on <%= Time.at(@stripe.current_period_end).strftime("%B %e, %Y") %>.</dd>
      </dl>
      <% else %>
        <%= link_to 'Cancel Subscription', method: @account.cancel_subscription %>
      <% end %>

    <% else %>
      <p>You do not have an active account</p>
    <% end %>

    <%= link_to "Change your password", edit_user_registration_path %>
</fieldset>

<fieldset class="information-box col-md-4">
  <legend>Card Details</legend>
  <dl>
    <dt>Card Type</dt>
    <dd><%= @card.brand %></dd>
  </dl>
  <dl>
    <dt>Card Last 4</dt>
    <dd><%= @card.last4 %></dd>
  </dl>
  <dl>
    <dt>Expiration</dt>
    <dd><%= @card.exp_month %>/<%= @card.exp_year %></dd>
  </dl>
</fieldset>