<h1><%= current_user.email %></h1>

<p><%= @account.first_name %> <%= @account.last_name %></p>

<p>Payment Account: <%= @account.stripeToken %></p>

<p>Plan Name: <%= @stripe.plan.name %></p>
<p>Plan Start: <%= Time.at(@stripe.start).strftime("%B %e, %Y") %></p>
<p>Plan End: <%= Time.at(@stripe.current_period_end).strftime("%B %e, %Y") %></p>